body {
  margin: 0;
  font-family: sans-serif;
  background: #917c49;
  background: linear-gradient(
    180deg,
    rgba(145, 124, 73, 1) 0%,
    rgba(56, 39, 3, 1) 100%
  );
}

.tela-jogo {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.jogo-inferior {
  width: 822px;
  margin: 0 auto;
  flex: 2.7;
  background-color: #382703;
  display: flex;
  justify-content: center;
  align-items: center;
}
