body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}

.tela-jogo {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.jogo-superior {
  flex: 1;
  background-color: #555;
  color: white;
  text-align: center;
  padding: 2em;
}

.titulo-jogo {
  font-family: "IM Fell English SC", serif;
  font-size: 55px;
  color: #ddd;
}

.jogo-inferior {
  flex: 2.7;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.6em 1.2em;
  margin: 0.5em;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
}
