.jogo-superior {
  background: url("../assets/images/floresta.jpg");
  width: 100%;
  max-width: 758px;
  margin: 0 auto;
  max-height: 300px;
  flex: 1;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 2em;
}

.titulo-jogo {
  font-family: "IM Fell English SC", serif;
  font-size: 55px;
  color: #ddd;
  margin-bottom: 1em;
}

button {
  background-color: rgb(78, 144, 146);
  color: white;
  border: solid, rgb(0, 112, 116), 1px;
  padding: 0.6em 1.2em;
  margin: 0.5em;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  min-width: 150px;
  text-align: center;
}
