body {
  margin: 0;
  font-family: "IM Fell English SC", serif;
  background: linear-gradient(
    0deg,
    rgba(5, 65, 10, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  overflow: hidden;
}

.tela-jogo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

.jogo-inferior {
  background: url("../assets/images/caverna.webp");
  width: 100%;
  max-width: 838px;
  margin: 0 auto;
  flex: 2.7;
  background-color: #382703;
  display: flex;
  justify-content: center;
  align-items: center;
}
