@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

.menu-body {
  background-image: url("../assets/images/Castle.gif"),
    linear-gradient(
      0deg,
      rgba(5, 65, 10, 1) 0%,
      rgba(87, 199, 133, 1) 50%,
      rgba(237, 221, 83, 1) 100%
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.menu-container {
  text-align: center;
  margin-top: 5vh;
  margin-right: 25vh;
}

.titulo-jogo span {
  font-family: "IM Fell English SC", serif;
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: Animar 0.4s ease-out forwards;
}

@keyframes Animar {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.botao {
  font-family: "IM Fell English SC", serif;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  background: #13a52ba6;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid rgb(0, 109, 94);
  border-radius: 0.4em;
  cursor: pointer;

  opacity: 0;
  transform: translateY(20px);
  pointer-events: none; /* bloqueia clique enquanto invisível */

  transition: opacity 0.6s ease, transform 0.6s ease;
}

.botao.mostrar {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; /* libera clique quando aparece */
}

.botao:hover {
  background-color: #1a8f0f;
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.botao:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

@keyframes botaoAnimar {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
