@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}

.menu-container {
  text-align: center;
  margin-top: 20vh;
}

.titulo-jogo {
  font-family: "IM Fell English SC", serif;
  font-size: 55px;
  color: #ddd;
}

.botao-iniciar {
  background-color: #333;
  color: white;
  border: 2px solid #777;
  padding: 0.8em 2em;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao-iniciar:hover {
  background-color: #555;
}
